.todo-footer {
    position: relative;
    height: 40px;
    margin: 10px;
    border-top: rgba(0, 0 ,0 , 0.1);

    & .filter-btn {
        padding: 5px;
        margin: 5px;
        border-radius: 0.25rem;
        border: none;
        outline: none;
        background: white;
        box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
            3px 3px 5px rgba(0, 0, 0, 0.1);
        &:hover, &.active {
            box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
        }
    }

    & .clear-complete-btn {
        visibility: visible;

    }

    & .todo-items-count {
        padding-left: 10px;
    }
}