<nav class="footer-bar">
    <div class="footer-bar__top">
        <ul>
            <li><a routerLink="tuts" routerLinkActive="selected"><i class="fab fa-facebook-square"></i> Facebook</a></li>
            <li><a routerLink="tuts" routerLinkActive="selected"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
    </div>
    <div class="footer-bar__bottom">
        <ul>
            <li><a class="copyright" routerLink="tuts" routerLinkActive="selected"><i class="far fa-registered"></i>Copyright by PHONGCAO</a></li>
        </ul>
    </div>
</nav>