.footer-container {
  position: fixed;
  bottom: 0;
  width: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-top-right-radius: 20px;
  opacity: 0.7;
  li {
    margin: auto;
    list-style: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;

    &:hover a{
      text-decoration: none;
    }
  }

  &:hover {
    opacity: 1;
  }
}