.footer-bar {
    overflow: hidden;
    background-color: #333;
    position: relative;
    z-index: 999;
    bottom: 0;
    width: 100%;
    ul {
      text-align: center;;
      list-style-type: none;
      margin: 0;
      padding: 15px;
      li {
        display: inline;
        font-family: "Fira Sans", sans-serif;
        font-size: 17px;
        a {
            color: #1dcec1;
          text-decoration: none;
          padding: 14px;
          &:hover {
            background-color: #111;
            color: #1dcec1;
          }
          &.home-logo{
            font-size: 25px; 
            }
            &.selected{
                color: #1dcec1;
            }
        }
        
      }
    }
  }
  