<nav class="footer-bar">
    <div class="footer-bar__top">
        <ul>
            <li><a routerLink="tuts" ><i class="fab fa-facebook-square"></i> Facebook</a></li>
            <li><a routerLink="details" > Terms of use</a></li>
            <li><a routerLink="details" > Privacy Statement</a></li>
        </ul>
    </div>
    <div class="footer-bar__bottom">
        <ul>
            <li><a class="copyright" routerLink="tuts" >Copyright <i class="far fa-registered"></i> 2020 PhongCao Beta Version 1.0.</a></li>
        </ul>
    </div>
</nav>