.footer-bar {
    overflow: hidden;
    background-color: #fff;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    height: 100px;
    bottom: 0;
    width: 100%;
    box-shadow: 2px -4px 5px 0px rgba(0,0,0,0.3);
    ul {
      text-align: center;;
      list-style-type: none;
      margin: 0;
      padding: 15px;
      li {
        display: inline;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 17px;
        a {
            color: #333;
          text-decoration: none;
          padding: 14px;
        }
        .copyright{
          color: #1dcec1;
          text-decoration: none;
          font-size: 12px;
        }
        
      }
    }
  }
  