<div class="todo-management-container">
    <div class="wrapper d-flex flex-column align-items-center w-90">
        <div class="row justify-content-center w-100">
            <div class="todo-wrapper p-0 d-flex flex-column col-md-4 col-sm-8">
                <div class="todo-wrapper__header">
                    <app-todo-header></app-todo-header>
                </div>
            </div>
            <div class="todo-wrapper p-0 d-flex flex-column col-md-6 col-sm-8">
                <div class="todo-wrapper__todo-footer">
                    <app-todo-footer></app-todo-footer>
                </div>
                <div class="todo-wrapper__todo-list">
                    <app-todo-list></app-todo-list>
                </div>
            </div>
        </div>
        <small class="instruction text-center">
            <em>Press enter to add new Todo</em>
        </small>
    </div>
</div>
