.terms-container {
    padding: 50px;
    margin: 150px 50px 50px 50px;
    text-align: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.3);
    font-family: 'Roboto Slab', serif;
}