<div class="todo-item d-flex justify-content-between align-items-center"
    (mouseover)="isHoverred = true"
    (mouseout)="isHoverred = false">
    <div class="todo">
        <label [ngClass]="{completed: todoItem.isCompleted}">{{todoItem.content}}</label>
    </div>
    <p-splitButton class="icon-wrapper"
                    [ngClass]="{active: isHoverred}"
                    (onDropdownClick)="onDropdownClick(todoItem.id)"
                    (onClick)="onChangeStatusTodo(todoItem.id)"
                    [showTransitionOptions]="'0ms'"
                    [hideTransitionOptions]="'0ms'"
                    label="{{todoItem.isCompleted ? 'Not Completed' : 'Completed'}}"
                    [model]="items"></p-splitButton>
    <label>{{todoItem.startDate | relativeTimespan}}</label>
</div>