.todo-item{
    margin: 15px;
    min-height: 60px;
    padding: 10px;
    position: relative;
    width: 90%;
    background: white;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
              inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    & .todo {
        position: relative;
        font-size: 18px;
        label {
            &.completed {
                text-decoration: line-through;
            }
        }
    }

    & .todo-control {
        position: absolute;
        left: 60%;
    }

    & label {
        margin-left: 10px;
        cursor: pointer;
        margin-bottom: 0;
    }

    & input[type="checkbox"] {
        width: 25px;
        height: 20px;
        border-radius: 5px;
        color: black;
    }
}

.icon-wrapper {
    display: none;

    &.active {
        display: block;
    }
}

@keyframes display {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}