<div class="blog-container">
    <h2>Functional Programing</h2>
    <br>
    <div class="blog-content">
        <label>Có lẽ khi nghe từ function, bất kì Coder nào cũng sẽ thấy quen thuộc. Nhưng không, Functional Programing không đơn thuần là việc lập trình sử dụng "function", tuy nhiên "function" lại chính là trung tâm của FP. <br> => "FUNCTIONAL" ở đây chính là chỉ cách chúng ta - coder sử dụng function.</label>
    </div>
    <br>
    <div class="blog-content">
        <label>Trong bài viết hôm nay, chúng ta sẽ tìm hiểu các kiến thức cơ bản về FB, trước khi bắt đầu, mình nghĩ ta nên ôn lại 1 tí kiến thức về function</label>
        <br>
        <br>
        <h4>Function là gì ?</h4>
        <br>
        <label>Function, hay còn gọi là hàm - quen thuộc nhỉ :V. Khi mới làm quen với lập trình, khái niệm đơn giản nhất về function mà tôi được học đó là "một tập hợp các dòng code để xử lí vấn đề nào đó và có thể dùng một hay nhiều lần, một hàm có thể nhận vào 1 hay nhiều Input và trả ra bất cứ cái gì mà chúng ta quyết định . . . Hmm nhắc lại nhiêu đây thôi, chi tiết về function sẽ đề cập ở bài viết khác nha, quay lại chủ đề chính nào.</label>
        <br>
        <label>Đúng, quả thật bản chất của function như là đã nêu ở trên, tuy nhiên lại chưa đủ để đạt được bản chất của Functional Programing</label>
        <br>
        <br>
        <h4>Functional Programing ! ! !</h4>
        <br>
        <label>Có khá nhiều cơ chế lập trình (Program Paradigm), Functional Programing hay OOP chỉ là 2 trong số đó. Functional Programing chính là quá trình xây dụng phần mềm bằng việc sử dụng các Pure Function, tránh chia sẻ trạng thái, tránh dữ liệu bị thay đổi và side-effect.</label>
        <label>Bạn dễ dàng thấy một ví dụ đối lập với nó, OOP - đúng vậy, chính là lập trình hướng đối tượng, trong đó các trạng thái thường được chia sẽ chặt chẻ, kết hợp với các phương thức của "đối tượng"</label>
        <label class="label-highlight">FP is the process of building software by composing pure function, avoiding share state, mutable data and side-effect</label>
        <br>
        <br>
        <h4>Functional Programing có ưu điểm gì ?</h4>
        <br>
        <label>Bằng việc sử dụng các Pure Function, các hàm sẽ dễ dàng tái sử dụng, thuận lợi cho việc tìm kiếm lỗi hoặc chỉnh sửa logic</label>    
        <label>FP hướng đến tính kết hợp (composability) các hàm để tối đa hóa khả năng tái sử dụng (reusability) trong chương trình.</label>
        <br>
        <br>
        <h4>Tại sao chúng ta nên sử dụng Functional Programing ?</h4>
        <br>
        <label>Hmm, thật sự là không dễ dàng để hiểu rõ Functional Programing đâu nhé, hãy xem 1 số nguyên tắc cũng như lợi ích nó mang lại: </label>
        <label><strong> - Nguyên tắc 1: </strong> Cái nào đã khai báo 1 lần thì mãi mãi như vậy, không nên thay đổi nữa, các biến và đối tượng trong 1 FB phải là immuable</label>
        <label><strong> - Nguyên tắc 2: </strong> Tất cả các hàm phải là Pure Function, tránh bị thay đổi trạng thái cũng như side-effect (kết quả trả về bị ảnh hưởng bởi tác nhân bên ngoài hàm).</label>
        <label><strong> - Lợi ích thứ nhất: </strong> Dễ kiểm tra lỗi, logic, bởi vì nó không phụ thuộc vào trạng thái của ứng dụng và xác minh kết quả dễ dàng.</label>
        <label><strong> - Lợi ích thứ hai: </strong> Nó làm cho code đọc dễ hiểu hơn (tất nhiên ^^).</label>
        <br>
        <br>
        <h4>Nhược điểm ?</h4>
        <br>
        <label>Có ưu tất có nhược, không có khái niệm hoàn hảo trong cái ngành CNTT này, Functional Programing cũng vậy.</label>
        <label>Nhược điểm đầu tiên chính là sự khó khăn khi hết hợp các Pure Function lại với nhau</label>
        <label>FP thường đi kèm với những nguyên tắc toán học, và toán học thì không dễ nuốt chút nào.</label>
        <label>Phải làm quen với những kiến thức về đệ quy thay vì for/while loop, dẫn đến sẽ có thêm vấn đề về việc tối ưu bộ nhớ</label>
        <br>
        <br>
        <h4>Tóm lại</h4>
        <br>
        <label>Đến đây thì các bạn đã nắm được cơ sở về Functional Programing rồi đó ^^. Tuy nghiên mình nghĩ sẽ có 1 số bạn gặp vài vấn đề ví dụ như Pure Function là gì, Side-effect là gì blah blah. Đừng vội nản lòng, hãy tiếp tục tìm hiểu sâu hơn vào nó ở các bài viết khác nhé !</label>
    </div>
</div>
