<div id="navigation-bar">
    <nav>
        <div class="nav-top">
            <li><a  class="home-logo" routerLink="/" id="logo"><span>W</span>{{' Book' | uppercase}}</a></li> 
        </div>
        <div class="nav-bottom">
            <ul>   
                <li><a 
                        routerLink="home"
                        routerLinkActive="selected"
                        [routerLinkActiveOptions]="{exact: true}">{{'Home' | uppercase}}</a></li>
                <li><a routerLink="tuts" routerLinkActive="selected">{{'Tutorials' | uppercase}}</a></li>
                <li><a routerLink="details" routerLinkActive="selected">{{'Abouts' | uppercase}}</a></li>
            </ul>
        </div>
    </nav>
</div>