nav {
    overflow: hidden;
    background-color: white;
    box-shadow: -1px 14px 16px -14px rgba(0,0,0,0.4);
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 9999999999;
    top: 0;
    width: 100%;
    & .nav-top {
      li {
        display: inline;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
        a {
          color: #1dcec1;
          text-decoration: none;
          cursor:  default;
          padding: 14px;
          & span{
            font-family: 'Piedra', cursive;
            font-weight: normal;
            color: rgba(0,120,212,0.5);
            &:hover {
              color: #1dcec1;
            }
          }
          
          & span.version{
              font-family: 'Montserrat', Arial, Helvetica, sans-serif;
              color: #1dcec1;
              font-size: 20px;
              letter-spacing: 2px;
          }
        }
      }
      &.nav-smaller{
        display: none;
      }
    }
    & .nav-bottom ul {
      padding: 15px;
      list-style-type: none;
      margin: 0;
      li {
        display: inline;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 700;
        position: relative;
        .drop-down {
          cursor: pointer;
          &:hover +.drop-down-item{
            display: inline-block;
          }
        }

        .drop-down-item {
          width: auto;
          display: none;
          position: absolute;
          right: -65px;
          top: -15px;
          padding: 10px;
          border-width: 2px;
          border-style: solid;;
          border-color: #999;
          border-radius: 10px;

          li {
            color: rgb(138, 134, 134);
            &:hover {
              cursor: pointer;
              color: #1dcec1;;
            }
          }

          &:hover {
            display: inline-block;
          }
        }

        a {
          color: rgb(138, 134, 134);
          text-decoration: none;
          padding: 14px;
          &:hover {
            color: #1dcec1;
          }
          &.home-logo{
            font-size: 25px; 
            }
            &.selected{
              color: #1dcec1;
              border-width: 0 0 20px 0px;
              border-style: solid;;
              border-color: rgba(29, 205, 193, 1);
              cursor: default;
              animation-name: example;
              animation-duration: 1s;
            }
        }
        
      }
    }
  }


  @keyframes example {
    from { border-color: rgba(29, 205, 193, 0.2);}
    to { border-color: rgba(29, 205, 193, 1);}
  }