<div id="navigation-bar">
    <nav>
        <div class="nav-top">
            <li><a  class="home-logo" routerLink="/" id="logo"><span>W</span>{{' Book' | uppercase}}<span class="version"> 1.0</span></a></li> 
        </div>
        <div class="nav-bottom">
            <ul>   
                <li><a 
                        routerLink="home"
                        routerLinkActive="selected"
                        [routerLinkActiveOptions]="{exact: true}">{{'demo.Home' | translate}}</a></li>
                <li><a routerLink="tuts" routerLinkActive="selected">{{'demo.Tutorials' | translate}}</a></li>
                <li><a routerLink="details" routerLinkActive="selected">{{'demo.About' | translate}}</a></li>
                <li><a class="drop-down"><i class="fas fa-cog"></i></a>
                    <div class="drop-down-item">
                        <li (click)="switchLanguage('en')"> EN</li>
                        <li (click)="switchLanguage('vi')"> VI</li>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>