nav {
    overflow: hidden;
    background-color: white;
    box-shadow: -1px 14px 16px -14px rgba(0,0,0,0.4);
    position: fixed;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 99999;
    top: 0;
    width: 100%;
    & .nav-top {
      li {
        display: inline;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 700;
        a {
          color: #1dcec1;
          text-decoration: none;
          cursor:  default;
          padding: 14px;
          & span{
            font-family: 'Piedra', cursive;
            font-weight: normal;
            color: #FFB18A;
            &:hover {
              color: #1dcec1;
            }
          } 
        }
      }
      &.nav-smaller{
        display: none;
      }
    }
    & .nav-bottom ul {
      padding: 15px;
      list-style-type: none;
      margin: 0;
      li {
        display: inline;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 700;
        a {
          color: rgb(138, 134, 134);
          text-decoration: none;
          padding: 14px;
          &:hover {
            color: #1dcec1;
          }
          &.home-logo{
            font-size: 25px; 
            }
            &.selected{
              color: #1dcec1;
              border-width: 0 0 10px 0px;
              border-style: solid;;
              border-color: #1dcec1;
              cursor: default;
            }
        }
        
      }
    }
  }
  